Ehl.Atms.Tgs.leftbelt_check/Ehl.Atms.Tgs.liebelt_check/Web References/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebserviceTest">
        <s:complexType />
      </s:element>
      <s:element name="WebserviceTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebserviceTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_DataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getstr_BySql">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getstr_BySqlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Getstr_BySqlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByField">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByFieldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStr_ByFieldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByIdx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Index" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByIdxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStr_ByIdxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_NonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_NonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Execute_NonQueryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_Procedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfDbParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDbParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DbParameter" nillable="true" type="tns:DbParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DbParameter" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DbType" type="tns:DbType" />
              <s:element minOccurs="0" maxOccurs="1" default="Input" name="Direction" type="tns:ParameterDirection" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNullable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="ParameterName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="SourceColumn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="SourceColumnNullMapping" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="Current" name="SourceVersion" type="tns:DataRowVersion" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:simpleType name="DbType">
        <s:restriction base="s:string">
          <s:enumeration value="AnsiString" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Currency" />
          <s:enumeration value="Date" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Double" />
          <s:enumeration value="Guid" />
          <s:enumeration value="Int16" />
          <s:enumeration value="Int32" />
          <s:enumeration value="Int64" />
          <s:enumeration value="Object" />
          <s:enumeration value="SByte" />
          <s:enumeration value="Single" />
          <s:enumeration value="String" />
          <s:enumeration value="Time" />
          <s:enumeration value="UInt16" />
          <s:enumeration value="UInt32" />
          <s:enumeration value="UInt64" />
          <s:enumeration value="VarNumeric" />
          <s:enumeration value="AnsiStringFixedLength" />
          <s:enumeration value="StringFixedLength" />
          <s:enumeration value="Xml" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ParameterDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Input" />
          <s:enumeration value="Output" />
          <s:enumeration value="InputOutput" />
          <s:enumeration value="ReturnValue" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DataRowVersion">
        <s:restriction base="s:string">
          <s:enumeration value="Original" />
          <s:enumeration value="Current" />
          <s:enumeration value="Proposed" />
          <s:enumeration value="Default" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Execute_ProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Execute_ProcedureResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_SqlParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="commandType" type="tns:CommandType" />
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfDbParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CommandType">
        <s:restriction base="s:string">
          <s:enumeration value="Text" />
          <s:enumeration value="StoredProcedure" />
          <s:enumeration value="TableDirect" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Execute_SqlParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Execute_SqlParameterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DataSet_DacName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAccessName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_DataSet_DacNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_DataSet_DacNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getstr_BySql_DacName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAccessName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getstr_BySql_DacNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Getstr_BySql_DacNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByField_DacName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Field" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAccessName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByField_DacNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStr_ByField_DacNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByIdx_DacName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Index" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAccessName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStr_ByIdx_DacNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStr_ByIdx_DacNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_NonQuery_DacName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAccessName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_NonQuery_DacNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Execute_NonQuery_DacNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_Procedure_DacName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfDbParameter" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAccessName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_Procedure_DacNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Execute_Procedure_DacNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_SqlParameter_DacName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="commandType" type="tns:CommandType" />
            <s:element minOccurs="0" maxOccurs="1" name="Sqlstr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paras" type="tns:ArrayOfDbParameter" />
            <s:element minOccurs="0" maxOccurs="1" name="DataAccessName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute_SqlParameter_DacNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Execute_SqlParameter_DacNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebserviceTestSoapIn">
    <wsdl:part name="parameters" element="tns:WebserviceTest" />
  </wsdl:message>
  <wsdl:message name="WebserviceTestSoapOut">
    <wsdl:part name="parameters" element="tns:WebserviceTestResponse" />
  </wsdl:message>
  <wsdl:message name="Get_DataSetSoapIn">
    <wsdl:part name="parameters" element="tns:Get_DataSet" />
  </wsdl:message>
  <wsdl:message name="Get_DataSetSoapOut">
    <wsdl:part name="parameters" element="tns:Get_DataSetResponse" />
  </wsdl:message>
  <wsdl:message name="Getstr_BySqlSoapIn">
    <wsdl:part name="parameters" element="tns:Getstr_BySql" />
  </wsdl:message>
  <wsdl:message name="Getstr_BySqlSoapOut">
    <wsdl:part name="parameters" element="tns:Getstr_BySqlResponse" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByFieldSoapIn">
    <wsdl:part name="parameters" element="tns:GetStr_ByField" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByFieldSoapOut">
    <wsdl:part name="parameters" element="tns:GetStr_ByFieldResponse" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByIdxSoapIn">
    <wsdl:part name="parameters" element="tns:GetStr_ByIdx" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByIdxSoapOut">
    <wsdl:part name="parameters" element="tns:GetStr_ByIdxResponse" />
  </wsdl:message>
  <wsdl:message name="Execute_NonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:Execute_NonQuery" />
  </wsdl:message>
  <wsdl:message name="Execute_NonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:Execute_NonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="Execute_ProcedureSoapIn">
    <wsdl:part name="parameters" element="tns:Execute_Procedure" />
  </wsdl:message>
  <wsdl:message name="Execute_ProcedureSoapOut">
    <wsdl:part name="parameters" element="tns:Execute_ProcedureResponse" />
  </wsdl:message>
  <wsdl:message name="Execute_SqlParameterSoapIn">
    <wsdl:part name="parameters" element="tns:Execute_SqlParameter" />
  </wsdl:message>
  <wsdl:message name="Execute_SqlParameterSoapOut">
    <wsdl:part name="parameters" element="tns:Execute_SqlParameterResponse" />
  </wsdl:message>
  <wsdl:message name="Get_DataSet_DacNameSoapIn">
    <wsdl:part name="parameters" element="tns:Get_DataSet_DacName" />
  </wsdl:message>
  <wsdl:message name="Get_DataSet_DacNameSoapOut">
    <wsdl:part name="parameters" element="tns:Get_DataSet_DacNameResponse" />
  </wsdl:message>
  <wsdl:message name="Getstr_BySql_DacNameSoapIn">
    <wsdl:part name="parameters" element="tns:Getstr_BySql_DacName" />
  </wsdl:message>
  <wsdl:message name="Getstr_BySql_DacNameSoapOut">
    <wsdl:part name="parameters" element="tns:Getstr_BySql_DacNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByField_DacNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetStr_ByField_DacName" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByField_DacNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetStr_ByField_DacNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByIdx_DacNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetStr_ByIdx_DacName" />
  </wsdl:message>
  <wsdl:message name="GetStr_ByIdx_DacNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetStr_ByIdx_DacNameResponse" />
  </wsdl:message>
  <wsdl:message name="Execute_NonQuery_DacNameSoapIn">
    <wsdl:part name="parameters" element="tns:Execute_NonQuery_DacName" />
  </wsdl:message>
  <wsdl:message name="Execute_NonQuery_DacNameSoapOut">
    <wsdl:part name="parameters" element="tns:Execute_NonQuery_DacNameResponse" />
  </wsdl:message>
  <wsdl:message name="Execute_Procedure_DacNameSoapIn">
    <wsdl:part name="parameters" element="tns:Execute_Procedure_DacName" />
  </wsdl:message>
  <wsdl:message name="Execute_Procedure_DacNameSoapOut">
    <wsdl:part name="parameters" element="tns:Execute_Procedure_DacNameResponse" />
  </wsdl:message>
  <wsdl:message name="Execute_SqlParameter_DacNameSoapIn">
    <wsdl:part name="parameters" element="tns:Execute_SqlParameter_DacName" />
  </wsdl:message>
  <wsdl:message name="Execute_SqlParameter_DacNameSoapOut">
    <wsdl:part name="parameters" element="tns:Execute_SqlParameter_DacNameResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="WebserviceTest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">【该方法用以测试本WebService是否连接正常】</wsdl:documentation>
      <wsdl:input message="tns:WebserviceTestSoapIn" />
      <wsdl:output message="tns:WebserviceTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_DataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过Sql语句获得一个DataSet</wsdl:documentation>
      <wsdl:input message="tns:Get_DataSetSoapIn" />
      <wsdl:output message="tns:Get_DataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getstr_BySql">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过Sql语句查询一个值</wsdl:documentation>
      <wsdl:input message="tns:Getstr_BySqlSoapIn" />
      <wsdl:output message="tns:Getstr_BySqlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByField">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过Sql语句和字段信息查询一个值</wsdl:documentation>
      <wsdl:input message="tns:GetStr_ByFieldSoapIn" />
      <wsdl:output message="tns:GetStr_ByFieldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByIdx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过Sql语句和字段索引查询一个值</wsdl:documentation>
      <wsdl:input message="tns:GetStr_ByIdxSoapIn" />
      <wsdl:output message="tns:GetStr_ByIdxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute_NonQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">执行一个sql语句，返回执行成功条数.返回值-1：执行错误</wsdl:documentation>
      <wsdl:input message="tns:Execute_NonQuerySoapIn" />
      <wsdl:output message="tns:Execute_NonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute_Procedure">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">执行一个存储过程，返回执行成a功条数.返回值-1：执行错误</wsdl:documentation>
      <wsdl:input message="tns:Execute_ProcedureSoapIn" />
      <wsdl:output message="tns:Execute_ProcedureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute_SqlParameter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">执行一个sql语句，并且有参数数组，返回是否执行成功</wsdl:documentation>
      <wsdl:input message="tns:Execute_SqlParameterSoapIn" />
      <wsdl:output message="tns:Execute_SqlParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_DataSet_DacName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过数据访问名和Sql语句获得一个DataSet</wsdl:documentation>
      <wsdl:input message="tns:Get_DataSet_DacNameSoapIn" />
      <wsdl:output message="tns:Get_DataSet_DacNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getstr_BySql_DacName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过数据访问名和Sql语句查询一个值</wsdl:documentation>
      <wsdl:input message="tns:Getstr_BySql_DacNameSoapIn" />
      <wsdl:output message="tns:Getstr_BySql_DacNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByField_DacName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过数据访问名和Sql语句和字段信息查询一个值</wsdl:documentation>
      <wsdl:input message="tns:GetStr_ByField_DacNameSoapIn" />
      <wsdl:output message="tns:GetStr_ByField_DacNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByIdx_DacName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过数据访问名和Sql语句和字段索引查询一个值</wsdl:documentation>
      <wsdl:input message="tns:GetStr_ByIdx_DacNameSoapIn" />
      <wsdl:output message="tns:GetStr_ByIdx_DacNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute_NonQuery_DacName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过数据访问名，执行一个sql语句，返回执行成功条数.返回值-1：执行错误</wsdl:documentation>
      <wsdl:input message="tns:Execute_NonQuery_DacNameSoapIn" />
      <wsdl:output message="tns:Execute_NonQuery_DacNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute_Procedure_DacName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过数据访问名，执行一个存储过程，返回执行成a功条数.返回值-1：执行错误</wsdl:documentation>
      <wsdl:input message="tns:Execute_Procedure_DacNameSoapIn" />
      <wsdl:output message="tns:Execute_Procedure_DacNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute_SqlParameter_DacName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过数据访问名，执行一个sql语句，并且有参数数组，返回是否执行成功</wsdl:documentation>
      <wsdl:input message="tns:Execute_SqlParameter_DacNameSoapIn" />
      <wsdl:output message="tns:Execute_SqlParameter_DacNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebserviceTest">
      <soap:operation soapAction="http://tempuri.org/WebserviceTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DataSet">
      <soap:operation soapAction="http://tempuri.org/Get_DataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getstr_BySql">
      <soap:operation soapAction="http://tempuri.org/Getstr_BySql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByField">
      <soap:operation soapAction="http://tempuri.org/GetStr_ByField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByIdx">
      <soap:operation soapAction="http://tempuri.org/GetStr_ByIdx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_NonQuery">
      <soap:operation soapAction="http://tempuri.org/Execute_NonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_Procedure">
      <soap:operation soapAction="http://tempuri.org/Execute_Procedure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_SqlParameter">
      <soap:operation soapAction="http://tempuri.org/Execute_SqlParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DataSet_DacName">
      <soap:operation soapAction="http://tempuri.org/Get_DataSet_DacName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getstr_BySql_DacName">
      <soap:operation soapAction="http://tempuri.org/Getstr_BySql_DacName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByField_DacName">
      <soap:operation soapAction="http://tempuri.org/GetStr_ByField_DacName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByIdx_DacName">
      <soap:operation soapAction="http://tempuri.org/GetStr_ByIdx_DacName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_NonQuery_DacName">
      <soap:operation soapAction="http://tempuri.org/Execute_NonQuery_DacName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_Procedure_DacName">
      <soap:operation soapAction="http://tempuri.org/Execute_Procedure_DacName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_SqlParameter_DacName">
      <soap:operation soapAction="http://tempuri.org/Execute_SqlParameter_DacName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebserviceTest">
      <soap12:operation soapAction="http://tempuri.org/WebserviceTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DataSet">
      <soap12:operation soapAction="http://tempuri.org/Get_DataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getstr_BySql">
      <soap12:operation soapAction="http://tempuri.org/Getstr_BySql" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByField">
      <soap12:operation soapAction="http://tempuri.org/GetStr_ByField" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByIdx">
      <soap12:operation soapAction="http://tempuri.org/GetStr_ByIdx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_NonQuery">
      <soap12:operation soapAction="http://tempuri.org/Execute_NonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_Procedure">
      <soap12:operation soapAction="http://tempuri.org/Execute_Procedure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_SqlParameter">
      <soap12:operation soapAction="http://tempuri.org/Execute_SqlParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_DataSet_DacName">
      <soap12:operation soapAction="http://tempuri.org/Get_DataSet_DacName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getstr_BySql_DacName">
      <soap12:operation soapAction="http://tempuri.org/Getstr_BySql_DacName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByField_DacName">
      <soap12:operation soapAction="http://tempuri.org/GetStr_ByField_DacName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStr_ByIdx_DacName">
      <soap12:operation soapAction="http://tempuri.org/GetStr_ByIdx_DacName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_NonQuery_DacName">
      <soap12:operation soapAction="http://tempuri.org/Execute_NonQuery_DacName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_Procedure_DacName">
      <soap12:operation soapAction="http://tempuri.org/Execute_Procedure_DacName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute_SqlParameter_DacName">
      <soap12:operation soapAction="http://tempuri.org/Execute_SqlParameter_DacName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://10.176.102.4/Ehl.Atms.Tgs.WebService/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://10.176.102.4/Ehl.Atms.Tgs.WebService/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>